[Unit]
Description=Recoge Meshview España cada 5 minutos

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
AccuracySec=10s
Persistent=true
Unit=mesh-noroeste-update@meshview.service

[Install]
WantedBy=timers.target
